.gmh_primary_nav {
	nav {
		text-align: center;
	}
	ul {
		width: 100%;
		font-size: 1.25em;
		margin: auto;
		li {
			display: inline-block;
			a {
				text-transform: uppercase;
				color: $secondary-color;
				font-weight: bold;
			}
		}
	}
}
.brand_parent {
	background: $off-white-background;
}
.slicknav_menu {
	background: $off-white-background;
}
.slicknav_nav {
	a {
		color: $secondary-color;
	}
}
@include breakpoint(medium) {
	.slicknav_menu {
		display: none;
	}
}
