.gmh_primary_nav {
	// margin: 0 auto;
	// display: table;
	a {
		text-transform: uppercase;
		color: $secondary-color;
		font-weight: bold;
	}
	ul {
		text-align: center;
		li {
			display: inline-block;
		}
	}
}
.brand_parent {
	background: $off-white-background;
}
.slicknav_menu {
	background: $off-white-background;
}
.slicknav_nav {
	a {
		color: $secondary-color;
	}
}
#hero_front_gmh {
	background: $off-white-background;
}
@include breakpoint(medium) {
	.slicknav_menu {
		display: none;
	}
}

// @include breakpoint(small) {
// 	.gmh_primary_nav {
// 		display: none;
// 	}
// }
