.gmh_primary_nav {
	nav {
		text-align: center;
	}
	ul {
		width: 100%;
		font-size: 1.25em;
		margin: auto;
		li {
			display: inline-block;
			a {
				text-transform: uppercase;
				color: $secondary-color;
				font-weight: bold;
			}
		}
	}
}
.slicknav_menu {
	background: $off-white-background !important;
}
.slicknav_nav {
	a {
		color: $secondary-color !important;
	}
}
@include breakpoint(medium) {
	.slicknav_menu {
		display: none !important;
	}
}

.gmh_main_menu {
	ul {
		width: 100%;
		font-size: 1.25em;
		margin: auto;
		li {
			display: inline-block;
			a {
				text-transform: uppercase;
				color: $secondary-color;
				font-weight: bold;
			}
		}
	}
}

ul#superfish-main {
	// width: 100%;
	font-size: .8em;
	// font-size: 1.25em;
	margin: 0 10px;
	li {
		display: inline-block;
	}
	li.sf-depth-2 {
		background-color: $secondary-color;
		a {
			color: $white;
			font-size: .75em;
			text-align: left;
			text-transform: none;
		}
	}
	li:first-child {
		display: none;
		@include breakpoint(large) {
			display: inline-block;
		}
	}
}
.slicknav_btn {
	background-color: $off-white-background !important;
}