
.gmh_first_hero {
	@include breakpoint(medium){
		padding-top: 3em;
	}
}

// .gmh_front_hero {
// 	max-width: 60%;
// }

.block-region-hero {
	@include breakpoint(medium) {
		margin-top: 1em;
	}
}

.hero_left {
	position: absolute;
  	width: 30%;
  	margin-top: 1%;
  	@include breakpoint(medium) {
  		margin-top: 1.5%;
  	}
}

.hero_copy_wrapper {
  width: 50% !important;
  padding-bottom: 50%;
  position: relative;
}
.hero_copy {
  	position: absolute;
  	top: 0; bottom: 0; left: 0; right: 0;
  	border-radius: 50%;
	background-color: $alert-color;
	padding: 20% 2rem;
	text-align: center;
	@include breakpoint(medium){
		padding: 3em;
	}
	@include breakpoint(large){
		padding: 5rem;
		text-align: left;
	}
	h2.fp_slide_title {
		font-size: 1rem;
		line-height: 1rem;
		@include breakpoint(medium){
			font-size: 2rem;
			line-height: 2rem;
		}
		// @include breakpoint(xlarge){
		// 	font-size: 3rem;
		// 	line-height: 3rem;
		// }
	}
	h2, p {
		color: #fff;
	}
	.fp_slide_body {}
	.fp_slide_link {
		position: absolute;
		bottom: -1em;
		right: 0;
		height: 30%;
		width: 30%;
		background-color: #000;
		border-radius: 50%;
		text-align: center;
		line-height: 0;
		padding-top: 8px;
		@include breakpoint(medium) {
			font-size: 2em;
			padding-top: 1.5rem;
			bottom: 0px;
		}
		@include breakpoint(large) {
			padding-top: 2.5rem;
		}
		@include breakpoint(xlarge) {
			padding-top: 2.7rem;
			bottom: -40px;
		}
		a {
			font-family: $header-font-family;
			font-size: 1em;
			color: #fff;
			line-height: 1em;
			@include breakpoint(large) {
				font-size: 1em;
			}
		}
	}
}
.hero_copy p {
	display: none;
	@include breakpoint(medium) {
		display: block;
	}
}
#hero_front_gmh {
  height: 100%;
  background: $off-white-background;
  // @include breakpoint(large) {
  // 	width: 60%;
  // }
  img {
  	float: right;
  	border-radius: 50%;
  }
  margin-bottom: 2em;
}
.slicknav_btn {
  background-color: transparent !important;
  margin: -8em 1em 6px 5px !important;
}
.slicknav_icon-bar {
  background-color: $primary-color !important;
}


#gmh_page_hero {
	margin-top: 1em;
	max-height: 400px;
	overflow: hidden;
}

#block-gmh-page-title h1 {
	margin-top: 1em;
}
