.publishers, .staff, .columnists {
	.user-bio, .user-header-pub {
		// text-align: center;
		h2 {
			font-size: 1.8em;
			margin-top: 1em;
		}
		h3 {
			font-size: 1.2em;
			color: $black;
		}
	}
	.user-header-pub {
		text-align: center;
	}
}

.contributers, .columnists, .publishers, .staff {
	.row {
		margin-top: 2em;
		margin-bottom: 2em;
	}
}

.contributors.row {
	margin-top: 4em;
	margin-bottom: 4em;
	border-top: 1px solid $black;
	text-align: center;
	.column {
		margin: 2em auto;
		padding-left: 1em;
		padding-right: 1em;
	}
	h2 {
		padding-top: 0;
		font-size: 1.8em;
	}
	h3 {
		font-size: 1.2em;
		color: $black;
	}
}