// Non-modular or client styles for .l-footer region.
@import '../settings';

footer {
	display: block;
	margin-top: 2em;
		@include breakpoint(medium) {
			background: linear-gradient(
			    to right,
			    $primary-color 0%,
			    $primary-color 25%,
			    $off-white-background 50%,
			    $off-white-background 100%
		  	);
		}
	h2 {
		font-size: 1.75em;
		color: #fff;
	}
	.footer_contact {
		background-color: $off-white-background;
		h2 {
			color: $alert-color;
		}
	}
	li {
		list-style: none;
		// width: 60%;
	}
	a {
		font-weight: bold;
		border-bottom: 1px dashed #fff;
	}
	// Advertising Info
  .footer_advertising {
    height: 250px;
    li {
      display: inline;
    }
  }
	#block-advertisinginfo {
    h2 {
      margin-bottom: 0;
    }
    ul {
      margin-left: 0;
      margin-bottom: 5px;
      li {
        height: 42px;
        padding-top: 5px;
      }
    }
  }
	// Quicklinks
  .footer_quicklinks {
    height: 250px;
    li {
      display: inline;
    }
  }
	#block-gmh-footer {
    h2 {
      margin-bottom: 0;
    }
    ul {
      margin-left: 0;
      margin-bottom: 5px;
      li {
        height: 42px;
        display: flex;
        a {
          margin: 1px;
          // position: relative;
          top: -40px;
          width: 80%;
          float: right;
        }
      }
      li:before {
        position: relative;
        top: 5px;
      }
      li:nth-child(1):before {
        content: url("../images/icons/subscribe.svg");
      }
      li:nth-child(2):before {
        content: url("../images/icons/message.svg");
      }
      li:nth-child(4):before {
        content: url("../images/icons/blog.svg");
      }
      li:nth-child(3):before {
        content: url("../images/icons/facebook.svg");
      }
    }
  }

	.footer_quicklinks {
		@include breakpoint(medium) {
			border-top-right-radius: 10% 100%;
			border-bottom-right-radius: 10% 100%;
		}
	}
	.footer_advertising, .footer_quicklinks {
		background-color: $primary-color;
		a {
			color: #fff;
		}
	}
	.footer_logo_div {
		background-color: $off-white-background;
		img {
			max-width: 75%;
			@include breakpoint(medium) {
				float: right;
			}
		}
	}
	.columns {
		padding: 1em;
	}

}

.scrollToTop{
	width:100px;
	height:130px;
	padding:10px;
	text-align:center;
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	bottom:-50px;
	right:0px;
	display:none;
	background: url('arrow_up.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
	text-decoration:none;
}

.bottom-bar {
	padding: 1em;
}
