// Non-modular or client styles for .l-footer region.
@import '../settings';

footer {
	margin: 2em auto 0;
		@include breakpoint(medium) {
			background: linear-gradient(
			    to right,
			    $primary-color 0%,
			    $primary-color 25%,
			    #ffffff 50%,
			    #ffffff 100%
		  	);
		}
	h2 {
		font-size: 1.75em;
		color: #fff;
	}
	.footer_contact {
		background-color: $off-white-background;
		h2 {
			color: $alert-color;
		}
	}
	li {
		// list-style: none;
		border-bottom: 1px dashed #fff;
		width: 60%;
	}
	a.subscribe {
		list-style-image: url("../images/icons/subscribe.svg")
	}
	a.message {
		list-style-image: url("../images/icons/message.svg")
	}
	li a.blog {
		list-style-image: url("../images/icons/blog.svg")
	}
	a.facebook {
		list-style-image: url("../images/icons/facebook.svg")
	}

	.footer_quicklinks {
		@include breakpoint(medium) {
			border-top-right-radius: 10% 100%;
			border-bottom-right-radius: 10% 100%
		}
	}
	.footer_advertising, .footer_quicklinks {
		background-color: $primary-color;
		a {
			color: #fff;
		}
	}
	.footer_logo_div {
		background-color: $off-white-background;
		img {
			max-width: 75%;
			@include breakpoint(medium) {
				float: right;
			}
		}
	}
	.columns {
		padding: 1em;
	}

}



.bottom-bar {
	padding: 1em;
}