// Non-modular or client styles for .l-footer region.
@import '../settings';

footer {
	margin: 2em auto;
	background: linear-gradient(
	    to right,
	    $primary-color 0%,
	    $primary-color 25%,
	    #ffffff 50%,
	    #ffffff 100%
  );
	h2 {
		font-size: 1.75em;
		color: #fff;
	}
	.footer_contact {
		h2 {
			color: $alert-color;
		}
	}
	li {
		list-style: none;
		border-bottom: 1px dashed #fff;
		width: 60%;
	}
	.footer_quicklinks {
		border-top-right-radius: 10% 100%;
		border-bottom-right-radius: 10% 100%
	}
	.footer_advertising, .footer_quicklinks {
		background-color: $primary-color;
		a {
			color: #fff;
		}
	}
	.footer_logo_div {
		img {
			max-width: 75%;
			float: right;
		}
	}
	.columns {
		padding: 1em;
	}

}
