// Non-modular or client styles for .l-header region.
@import "settings";

.gmh_header_background {
	background: $off-white-background;
}
.brand_parent {
	display: flex;
}

.brand_inline {
	display: inline-block;
	padding: 1em;
}

.site-branding__text {
	display: flex;
	align-items: flex-end;
    font-size: 1.5em;
    width: 16em;
    line-height: normal;
}

#block-gmh-branding {
	img {
		height: 110px;
    @include breakpoint(medium) {
      height: 210px;
      float: right;
    }
	}
}

#hero_front_gmh {
  background: $off-white-background;
}

.slicknav_btn {
  background-color: transparent;
  margin: -8em 1em 6px 5px;
}
.slicknav_icon-bar {
  background-color: $primary-color;
}
// Menu styles
.gmh_primary_nav ul {
	width: 980px!important;
	margin: 0 auto!important;
	.is-dropdown-submenu {
		background-color: $secondary-color;
		padding: 20px;
		&.is-active {
			background-color: $secondary-color;
			a {
				color: $white;
			}
		}
		a {
			color: $white;
			font-size: 14px;
			text-align: left;
			text-transform: none;
		}
	}
}


.block-region-hero {
	height: 400px;
	overflow: hidden;

}