@import 'settings';

#fp_slick {
  height: 100%;
  img {
  	float: right;
  	border-radius: 50%;
  }
}

.latest-issues-front {
	background-color: $light-blue-background;
	text-align: center;
	padding: 2em 0;
	.column {
		padding: 2em 5em;
	}
	.latest-issue-date {
		color: $primary-color;
		text-transform: uppercase;
		font-size: 25;
	}
	.views-more-link {
		color: $secondary-color;
		font-weight: bold;
	}
}

footer {
	margin: 2em auto;
	h2 {
		font-size: 1.75em;
		color: #fff;
	}
	.footer_contact {
		h2 {
			color: $alert-color;
		}
	}
	li {
		list-style: none;
		border-bottom: 1px dashed #fff;
	}
	.footer_advertising, .footer_quicklinks {
		background-color: $primary-color;
		a {
			color: #fff;
		}
	}
	.footer_logo_div {
		img {
			max-width: 75%;
			float: right;
		}
	}
	.columns {
		padding: 1em;
	}

}