@import 'settings';

// #main {
// 	margin-top: 1em;
// }

blockquote {
	margin: 1rem 0 1rem;
	border-left: 0;
}
blockquote:before {
  color: $alert-color;
  content: open-quote;
  font-size: 7em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: $alert-color;
  content: close-quote;
  font-size: 7em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.5em;
}
.box_shadow {
	-webkit-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.33);
	box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.33);
}
#hero_front_gmh {
  height: 100%;
  img {
  	float: right;
  	border-radius: 50%;
  }
  margin-bottom: 2em;
}

.gmh_first_hero {
	@include breakpoint(medium){
		padding-top: 3em;
	}
}

#latest_front_gmh {
	background-color: $light-blue-background;
}


#ads_front_gmh {
	background-color: $off-white-background;
}

.latest-issues-front {
	margin-top: 2em;
	text-align: center;
	margin-bottom: 2em;
  @include breakpoint(large) {
  	.column {
  		padding: 2em 5em;
  	}
  }
	.latest-issue-date {
		color: $primary-color;
		text-transform: uppercase;
		font-size: 1.25rem;
		font-weight: bold;
	}
	.latest-cover-front {
		margin: 2em auto;
		img {
			-webkit-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.33);
			-moz-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.33);
			box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.33);
		}
	}
}

.block-region-about,
.latest-issues-front,
.block-region-testimonials,
.block-region-ads,
.block-region-partners,
.block-region-events,
.block-region-blog,
.block-region-editor-choice,
.block-region-bottom {
	margin-top: 3em;
	h2 {
		text-align: center;
	}
	.views-field-title a {
		color: $secondary-color;
	}
}
.block-region-about,
.block-region-testimonials,
.block-region-blog,
.block-region-editor-choice {
	h2 {
		@include breakpoint (medium) {
			text-align: left;
			padding-top: 1em;
		}
	}
}
.block-region-about {
	margin-top: 0;
}
.supported-logo {
	display: block;
    text-align: center;
    margin: 2em;
    @include breakpoint(medium) {
    	display: inline;
    	margin: 0;
    }
}

.block-region-hero {
	@include breakpoint(medium) {
		margin-top: 2em;
	}
}

.hero_left {
	position: absolute;
  	width: 30%;
  	margin-top: 1%;
  	@include breakpoint(medium) {
  		margin-top: 1.5%;
  	}
}


.hero_copy_wrapper {
  width: 50% !important;
  padding-bottom: 50%;
  position: relative;
}
.hero_copy {
  	position: absolute;
  	top: 0; bottom: 0; left: 0; right: 0;
  	border-radius: 50%;
	background-color: $alert-color;
	padding: 20% 2rem;
	text-align: center;
	@include breakpoint(medium){
		padding: 7rem;
		text-align: left;
	}
	h2.fp_slide_title {
		font-size: 1.5rem;
		line-height: 1.5rem;
		@include breakpoint(medium){
			font-size: 2rem;
			line-height: 2rem;
		}
		@include breakpoint(xlarge){
			font-size: 3rem;
			line-height: 3rem;
		}
	}
	h2, p {
		color: #fff;
	}
	.fp_slide_body {}
	.fp_slide_link {
		position: absolute;
		bottom: -1em;
		right: 0;
		height: 30%;
		width: 30%;
		background-color: #000;
		border-radius: 50%;
		text-align: center;
		@include breakpoint(medium) {
			padding-top: 2.5rem;
			bottom: 0px;
		}
		@include breakpoint(xlarge) {
			padding-top: 2.7rem;
			bottom: -40px;
		}
		a {
			font-family: $header-font-family;
			font-size: 1em;
			color: #fff;
			line-height: 1em;
			@include breakpoint(medium) {
				font-size: 3em;
			}
		}
	}
}



h2 {
	line-height: 1;
	@include breakpoint(medium) {
		line-height: 1.4;
	}
}

.path-frontpage {

}

// .hero_left {
// 	position: absolute;
// 	margin-top: 3em;
// }
// .hero_copy {
// 	border-radius: 50%;
// 	background-color: $alert-color;
// 	position: absolute;
// 	width: 500px;
//     height: 500px;
// 	padding: 5em;
// 	h2, p {
// 		color: #fff;
// 	}
// 	.fp_slide_link {
// 		position: absolute;
// 		bottom: -40px;
// 		right: 0;
// 		height: 172px;
// 		width: 172px;
// 		background-color: #000;
// 		border-radius: 50%;
// 		text-align: center;
// 		padding-top: 2.7em;
// 		a {
// 			font-size: 2.5em;
// 			color: #fff;
// 			line-height: 1em;
// 		}
// 	}
// }
@include breakpoint(medium) {
	#testimonials_front_gmh {
		margin: 2em auto;
	}
}
// Proud Supporters of (homepage).
#partners_front_gmh {
	// background-color: $off-white-background;
	margin: 2em auto;
	@include breakpoint(medium) {
		.medium-5 {
			padding-top: 9%;
			position: relative;
			right: 8%;
		}
		.medium-7 {
			position: relative;
			z-index: 99;
		}
	}
}
.partners_left {
	@include breakpoint(medium) {
		position: absolute;
		margin-top: 6em;
	}
}
.partners_copy {
	border-radius: 50%;
	background-color: $alert-color;
	width: 580px;
  height: 580px;
  position: absolute;
  padding: 7em 5em;
  text-align: center;
	h2, p {
		color: #fff;
	}
}
.more-link a,
.views-more-link a {
	font-weight: bold;
	color: $secondary-color;
}
.block-region-about {
	margin-bottom: 4em;
}
.block-region-partners {
	background-color: $off-white-background;
	padding: 0 2em;
	// width: 60%;
	@include breakpoint(medium) {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 0;
		padding: 50% 0;
		border-radius: 50%;
	}
	h2 {
		font-size: 2.5em;
		@include breakpoint(medium) {
			font-size: 2em;
		}
		@include breakpoint(large) {
			font-size: 2.5em;
		}
	}
	section {
		@include breakpoint(medium) {
			width: 60%;
			margin: 0 auto;
			position: relative;
			top: -240px;
		}
	}
	// Logos.
	.logo {
		display: block;
    	width: 100%;
		height: auto;
    	margin: 2em auto;
		padding: .5em 2em;
		text-align: center;
		@include breakpoint(medium) {
			display: inline-block;
			width: 50%;
			height: 20px;
			padding: 1.5em;
			margin: 0;
			text-align: inherit;
		}
		@include breakpoint(large) {
			display: inline-block;
			width: 50%;
			height: 30px;
			padding: 2.5em;
			margin: 0;
		}
	}
	@include breakpoint(medium) {
		.logo.logo-321 {
	    display: block;
	    margin: 0 auto;
	    width: 50%;
		}
		.logo.logo-322 {
	    float: left;
		}
		.logo.logo-324 {
	    float: left;
		}
		.logo.logo-326 {
	    float: left;
	    clear: left;
			width: 170px;
		}
		.logo.logo-327 {
	    float: right;
		}
	}
}
// Save the Date (homepage).
.block-region-events {
	background-color: $alert-color;
	color: #ffffff;
	text-align: center;
	padding: 1em;
	@include breakpoint(medium) {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 0;
		padding: 50% 0;
		border-radius: 50%;
	}
	h2 {
		color: #ffffff;
		text-align: center;
		font-size: 2.5em;
		@include breakpoint(medium) {
			font-size: 2em;
		}
		@include breakpoint(large) {
			font-size: 2.5em;
		}
	}
	a {
		color: #ffffff !important;
		font-weight: bold;
	}
	.views-row {
		margin: 2em auto;
		@include breakpoint(large) {
			margin: .5em auto;
		}
		@include breakpoint(medium) {
			margin: 1em auto;
		}
	}
	section {
		@include breakpoint(medium) {
			width: 70%;
			margin: 0 auto;
			position: relative;
			top: -190px;
		}
	}
}
.testimonial_img img {
	border-radius: 50%;
	@include breakpoint(medium) {
		margin: 2em auto;
	}
}

.block-region-blog, .block-region-editor-choice {
	.views-field-title {
		font-size: 1.5rem;
		font-weight: bold;
		color: $secondary-color;
	}
}

.button.success {
	background-color: $primary-color;
}

.hero_copy p {
	display: none;
	@include breakpoint(medium) {
		display: block;
	}
}

.user-header-pub img {
	border-radius: 50%;
}

.issue-archive {
	padding: 1em;
	text-align: center;
	.views-field-field-subtitle {
		padding-top: 1em;
		font-size: 1em;
	}
}

#disqus_thread {
	margin: 4em auto;
}

.advertiser-name {
	margin: .5em auto;
}

.block-region-ads {
	text-align: center;
	.views-field-field-image {
		margin-top: 3em;
		margin-bottom: 3em;
	}
}

// .row-funk {
// 	display: inline-block;
// }

blockquote::before, blockquote::after {
	display: none;
}

.testimonial_credits {
	padding-left: 20px !important;
}

.distributor-block {
	padding: 0 1em;
	h3 {
		margin-top: 1em;
	}
}

.ads-list {
	text-align: center;
	@include breakpoint(medium) {
		text-align: left;
	}
}

.ad_cta {
	text-align: left;
	padding-left: 10px;
	@include breakpoint(medium) {
		padding-left: 15px;
	}
}
