#fp_slick {
  height: 100%;
  img {
  	float: right;
  	border-radius: 50%;
  }
}

.latest-issues-front {
	background-color: $light-blue-background;
	text-align: center;
	padding: 2em 0;
	.column {
		padding: 2em 5em;
	}
	.latest-issue-date {
		color: $primary-color;
		text-transform: uppercase;
		font-size: 25;
	}
	.views-more-link {
		color: #685d1f;
		font-weight: bold;
	}
}